* {
	margin: 0;
	padding: 0;
}

.mask {
	display: none;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.75);
	text-align: center;
}

.maskedText {
	color: white;
	font-size: 16px;
}

.confirmDeleteContainer {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

#confirmDeleteLabel {
	/*position: relative;
	top: 50%;
	transform: translateY(-50%);*/
}

.popup {
	padding: 5px;
}

/*
	Light green: bfff8c
	Dark green: #6fbf30
	Red: #ff8c8c;

	NEW COLOURS:
	light green: #b2ff59
	dark green: #c0dfd9;
	dark: #3b3a36;
	deep orange: #ff5722;
*/

.row {
	width: 100%;
	margin-top: 5px;
	font-size: 0;
}

.row:first-child {
	margin-top: 0;
}

.col {
	display: inline-block;
	font-size: 16px;
}

.col-2 {
	width: 49%;
}

.col-2:nth-child(2n+1) {
	margin-right: 1%;
}

.col-2:nth-child(2n) {
	margin-left: 1%;
}

button {
	font-size: 18px;
	border: none;
	border-radius: 5px;
	background-color: #b2ff59;
	padding: 5px;
}

.btn-green {
	background-color: #b2ff59;
}

.btn-red {
	background-color: #ff8c8c;
}

#status {
	/* avoid an excessively wide status text */
	white-space: pre;
	text-overflow: ellipsis;
	min-width: 250px;
	max-width: 400px;
	font-size: 12px;
}

#tabLabelContainer {
	font-size: 16px;
	width: 70%;
	box-sizing: border-box;
	padding-right: 5px;
	display: inline-block;

	padding-right: 0;
}

#tabLabel {
	font-size: 16px;
	width: 100%;
	padding: 5px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border-radius: 5px;
	border: 2px solid #b2ff59;

	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	border: 1px solid #ccc;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);

}

#tabLabel:focus {
	outline: none;
}

#tabItButton {
	width: 100%;
	font-size: 18px;
	border-radius: 5px;
	border: none;
	padding: 6px; /* 1 extra padding for missing border */
	width: 30%;
	display: inline-block;

	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	/*border: 1px solid #ccc;*/
	line-height: 1;
}

#currentLabels {
	width: 100%;
	font-size: 20px;
	line-height:40px;
	height: 40px;
}

.divider {
	margin-top: 15px;
	padding-top: 10px;
	border-top: 1px solid #c8c8c8;
}
